.header {
  max-width: 100%;
  padding-top: 24px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #131313;
}

.header__name {
  font-family: "Roboto" "sans-serif";
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 15px;
  color: #E3B873;
  padding-bottom: 15px;
}

.header__nav {
  font-family: "Roboto" "sans-serif";
  font-size: 14px;
  line-height: 16px;
}
.header__nav ul {
  display: flex;
  gap: 38px;
  list-style: none;
  color: white;
}
.header__nav a {
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.header__tel-bottom {
  font-family: "Roboto" "sans-serif";
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #E3B873;
}
.header__tel-bottom .header__tel-bottom__bottom_size {
  width: 180px;
  height: 38px;
  color: white;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
.header__tel-bottom .header__tel-bottom__bottom_size:hover {
  background: white;
  color: black;
}

@media (max-width: 1110px) {
  .header__nav {
    display: none;
  }
}
@media (max-width: 536px) {
  .header__tel-bottom__bottom_size {
    display: none;
  }
}
@media (max-width: 365px) {
  .header__name {
    font-size: 12px;
    line-height: 14px;
  }
  .header__tel-bottom {
    gap: 0px;
    color: white;
    font-size: 12px;
    line-height: 14px;
  }
  .header__tel-bottom__bottom_size {
    display: none;
  }
  .header__nav {
    display: none;
  }
}
button {
  border: 0;
}

ul {
  padding-inline-start: 0;
}

body {
  margin: 0;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

a:hover {
  background: red;
  color: black;
}

.Main__bg-Houpt {
  background-image: url(../img/img-bg1/bg-black.png);
}

.main__bg-1 {
  position: relative;
  max-width: 100%;
  height: 700px;
  background-image: url("../img/img-bg1/bg1.svg");
  background-repeat: no-repeat;
  display: flex;
  gap: 50px;
  background-size: cover;
}

.main__bg-1:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__main__bg-1__box-instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 40px;
  writing-mode: vertical-rl;
  color: #E3B873;
  background-color: #131313;
}

.main__main__bg-1__box-information {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.main__main__bg-1__box-information_h {
  font-family: "Roboto", "sans-serif";
  height: fit-content;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: white;
  z-index: 2;
}
.main__main__bg-1__box-information_h span {
  color: #E3B873;
}

.main__main__bg-1__box-information_p {
  font-family: "Roboto", "sans-serif";
  font-size: 22px;
  line-height: 30px;
  color: white;
  height: fit-content;
  width: fit-content;
}

.main__main__bg-1__box-information_button {
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  font-family: "Roboto", "sans-serif";
  line-height: 15px;
  text-align: center;
  height: fit-content;
  width: fit-content;
}

.main__main__bg-1__box-information_button-1 {
  width: 180px;
  height: 38px;
  color: white;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  height: 45px;
  width: 230px;
  font-size: 13px;
  line-height: 15px;
}

.main__main__bg-1__box-information_button-1:hover {
  background: white;
  color: black;
}

.main__main__bg-1__box-information_button-2 {
  width: 230px;
  height: 45px;
  font-size: 13px;
  color: white;
  outline: none;
  background: transparent;
  border: 1px solid white;
  border-radius: 2px;
}

.main__main__bg-1__box-information_button-2:hover {
  background: white;
  color: black;
}

.main__box-scroll {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 245px;
  height: 65px;
  background-color: #131313;
  bottom: 0.001%;
}
.main__box-scroll span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 590px) {
  .main__main__bg-1__box-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .main__main__bg-1__box-information_h {
    max-width: 340px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 132.83%;
  }
  .main__main__bg-1__box-information_p {
    font-size: 18px;
    line-height: 135.84%;
    max-width: 339px;
  }
  .main__main__bg-1__box-information_p br {
    display: none;
  }
  .main__main__bg-1__box-information_button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 365px) {
  .main__bg-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    max-width: 375px;
    background-image: url("../img/img-bg1/bg1.svg");
    background-repeat: no-repeat;
    gap: 30px;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main__main__bg-1__box-instagram {
    display: none;
  }
  .main__box-scroll {
    display: none;
  }
  .main__main__bg-1__box-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .main__main__bg-1__box-information_h {
    max-width: 340px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 132.83%;
  }
  .main__main__bg-1__box-information_p {
    font-size: 18px;
    line-height: 135.84%;
    max-width: 339px;
  }
  .main__main__bg-1__box-information_p br {
    display: none;
  }
  .main__main__bg-1__box-information_button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 20px;
  }
}
.main__bg-2 {
  max-width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  color: white;
}

.main__bg-2__inf-foto {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 105px;
}

.main__bg2__inf {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  line-height: 29px;
  height: fit-content;
  width: fit-content;
}

.main__bg2__inf__h-name {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}

.main__bg2__inf__characteristics {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}
.main__bg2__inf__characteristics span {
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}
.main__bg2__inf__characteristics p {
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  line-height: 20px;
  color: white;
}

.main__bg2__inf__characteristics__box-items1 {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 74px;
}

.main__bg2__inf__characteristics__box-items2 {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.main__bg2__inf__characteristics-item {
  max-width: 50%;
}

.main__bg2__inf__img {
  max-width: 70%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.main__bg-2__h-name {
  width: 100%;
}
.main__bg-2__h-name ul {
  display: flex;
  justify-content: left;
  text-align: left;
  list-style: none;
  gap: 60px;
}
.main__bg-2__h-name ul li {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}
.main__bg-2__h-name ul li span {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #E3B873;
}

.main__bg2__foto {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 0;
}

.main__bg2__foto__items {
  position: relative;
  display: flex;
  gap: 20px;
}

.main_bg2__fiti__items__play {
  position: absolute;
  left: 85%;
  bottom: 42%;
}

.main__bg2__camera {
  padding-top: 40px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__bg2__camera span {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.main__bg2__camera .main__bg2__inf__img_paddint-bottom {
  padding-bottom: 10px;
}

.main__bg__wrapper-video {
  max-width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__bg2__video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__bg2__video:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__bg2__video__play {
  z-index: 2;
  position: absolute;
  top: 33%;
  left: 47%;
}

@media (max-width: 1200px) {
  .main__bg2__foto {
    display: none;
  }
  .main__bg2__inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__bg2__inf__h-name {
    text-align: center;
  }
}
@media (max-width: 854px) {
  .main__bg2__video {
    width: 520px;
    height: 307px;
  }
  .main__bg2__video__img {
    width: 100%;
    height: 100%;
  }
  .main__bg2__video__play {
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 38%;
  }
}
@media (max-width: 541px) {
  .main__bg2__video {
    width: 340px;
    height: 237px;
  }
}
@media (max-width: 365px) {
  .main__bg2 {
    padding-left: 0px;
  }
  .main_bg2__inf__h {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .main_bg2__inf__h .main__bg2__inf__p-name br {
    display: none;
  }
  .main__bg-2__h-name {
    display: none;
  }
  .main__bg2__foto__items {
    display: none;
  }
  .main__bg2__inf__characteristics__box-items2 {
    gap: 60px;
  }
  .main__bg2__inf__img {
    display: none;
  }
  .main__bg2__camera {
    width: 163px;
    text-align: center;
  }
  .main__bg__wrapper-video {
    gap: 20px;
  }
  .main__bg2__video {
    width: 320px;
    height: 207px;
  }
  .main__bg2__video__img {
    width: 100%;
    height: 100%;
  }
  .main__bg2__video:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .main__bg2__video__play {
    top: 30%;
    left: 40%;
  }
  .main__bg2__video__play__img {
    height: 80px;
    width: 80px;
  }
  .main__bg__wrapper-video {
    max-width: 100%;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.Main_bg-white {
  background-image: url(../img/bg-white/BACKGROUND\ LINE.png);
}

.main_wrapper-houpt-inf {
  max-width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_wrapper-houpt-inf__information {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.main_wrapper-houpt-inf__information div {
  font-weight: 400;
  max-width: 680px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

.main_wrapper-houpt-inf__registration {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.main_wrapper-houpt-inf__registration input {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

.box-test111 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.main_wrapper-houpt-inf__registration_button_characteristics {
  width: 180px;
  height: 38px;
  color: white;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  height: 47px;
  width: 200px;
}

.main_wrapper-houpt-inf__registration_button_characteristics:hover {
  background: red;
  color: black;
}

.main_wraper-houpt-inf__I-agree {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.main_wraper-houpt-inf__I-agree div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #181818;
  transform: rotate(-0.07deg);
}

@media (max-width: 1100px) {
  .main_wrapper-houpt-inf__registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .box-test111 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main_wrapper-houpt-inf__registration__item-1 {
    order: 1;
  }
  .main_wrapper-houpt-inf__registration__item-2 {
    order: 2;
  }
  .main_wrapper-houpt-inf__registration__item-3 {
    order: 4;
  }
  .main_wrapper-houpt-inf__registration_button_characteristics {
    width: 300px;
  }
  .main_wraper-houpt-inf__I-agree {
    width: 305px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: white;
    order: 3;
  }
}
@media (max-width: 365px) {
  .main__bg__wrapper-video {
    background: #131313;
  }
  .Main_bg-white {
    background-image: none;
    background-color: #131313;
    padding-left: 17px;
    padding-right: 17px;
  }
  .Main_wrapper-houpt-inf span {
    color: #959595;
  }
  .Main_wrapper-houpt-inf input {
    width: 300px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "FuturaMediumC";
    font-size: 18px;
    line-height: 25px;
    color: white;
    border-color: whitesmoke;
  }
  .main_wrapper-houpt-inf__information div {
    font-size: 14px;
    line-height: 169.8%;
    text-align: center;
    color: white;
  }
  .main_wrapper-houpt-inf__registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
  }
  .main__leave__box-leav__inf_input {
    display: flex;
  }
  .main_wrapper-houpt-inf__registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .main_wrapper-houpt-inf__registration__item-1 {
    order: 1;
  }
  .main_wrapper-houpt-inf__registration__item-2 {
    order: 2;
  }
  .main_wrapper-houpt-inf__registration__item-3 {
    order: 4;
  }
  .main_wrapper-houpt-inf__registration_button_characteristics {
    width: 300px;
  }
  .main_wraper-houpt-inf__I-agree {
    padding-top: 0px;
    width: 305px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: white;
    order: 3;
  }
}
.main__TYPES-OF-REPAIR_wrapper {
  max-width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__TYPES-OF-REPAIR_wrapper__name {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main__TYPES-OF-REPAIR_wrapper__name span {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.main__TYPES-OF-REPAIR_wrapper__img {
  height: 700px;
  padding-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.main__TYPES-OF-REPAIR_wrapper__img ul {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}
.main__TYPES-OF-REPAIR_wrapper__img li {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.main__TYPES-OF-REPAIR_wrapper__img__item {
  position: relative;
}

.main__TYPES-OF-REPAIR_wrapper__img_characteristics-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 286px;
  background-image: url(../img/main__TYPES-OF-REPAIR_wrapper/img-items-bg/Rectangle\ 4.22.svg);
  position: absolute;
  left: 7%;
  bottom: 17%;
}

.main__TYPES-OF-REPAIR_wrapper__img_characteristics-2 {
  background-image: url(../img/main__TYPES-OF-REPAIR_wrapper/img-items-bg/Rectangle\ 4.22\ \(1\).svg);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 286px;
  bottom: 17%;
  left: 10%;
}

.main__TYPES-OF-REPAIR_wrapper__img_characteristics-3 {
  background-image: url(../img/main__TYPES-OF-REPAIR_wrapper/img-items-bg/Rectangle\ 4.23.svg);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 286px;
  bottom: 17%;
  right: 7%;
}

.main__TYPES-OF-REPAIR_wrapper__img__button {
  position: absolute;
  bottom: 15%;
  left: 7%;
}

.main__TYPES-OF-REPAIR_wrapper__img__button-2 {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.main__TYPES-OF-REPAIR_wrapper__img__button-3 {
  position: absolute;
  bottom: 15%;
  padding-left: 18%;
}

.main__TYPES-OF-REPAIR_wrapper__img__button_characteristics {
  width: 180px;
  height: 38px;
  color: white;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  width: 210px;
  height: 45px;
  font-family: "Yeseva One";
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.main__TYPES-OF-REPAIR_wrapper__img__button_characteristics:hover {
  background: red;
  color: black;
}

@media (max-width: 1100px) {
  .main__TYPES-OF-REPAIR_wrapper__name {
    padding-top: 30px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img {
    padding-top: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 140px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img_characteristics-1 {
    left: -20px;
    bottom: -130px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img__button {
    position: absolute;
    bottom: -130px;
    left: -20px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img_characteristics-2 {
    bottom: -130px;
    left: -20px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img__button-2 {
    position: absolute;
    bottom: -130px;
    left: -20px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img_characteristics-3 {
    bottom: -130px;
    left: -20px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img__button-3 {
    bottom: -130px;
    left: -90px;
  }
}
@media (max-width: 365px) {
  .main__TYPES-OF-REPAIR_wrapper__name span {
    color: white;
    width: 200px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img {
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 170px;
  }
  .main__TYPES-OF-REPAIR_wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img__item__logo {
    width: 300px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img_characteristics-1 {
    height: 240px;
    width: 270px;
    bottom: -100px;
    left: -10px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img__button {
    bottom: -120px;
    left: 0px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img_characteristics-2 {
    height: 240px;
    width: 270px;
    bottom: -100px;
    left: -10px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img__button-2 {
    bottom: -120px;
    left: 0px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img_characteristics-3 {
    height: 240px;
    width: 270px;
    bottom: -100px;
    left: -10px;
  }
  .main__TYPES-OF-REPAIR_wrapper__img__button-3 {
    bottom: -120px;
    left: -54px;
  }
}
.main__leave_wrapper {
  max-width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  position: relative;
  height: 800px;
}

.main__leave__box-leav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__leave__box-leav__inf {
  background-image: url("../img/leave/Rectangle 7.6.svg");
  width: 506px;
  height: 509px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.main__leave__box-leav__inf_h {
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.main__leave__box-leav__inf_input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}
.main__leave__box-leav__inf_input span {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.main__leave__box-leav__inf_input input {
  width: 400px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: white;
}

.main__leave__box-leav__inf_agree {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main__leave__box-leav__inf_agree div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFF;
}

.main__leave__box-leav__inf_button {
  width: 5%;
}
.main__leave__box-leav__inf_button button {
  width: 180px;
  height: 38px;
  color: white;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  width: 215px;
  height: 50px;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
.main__leave__box-leav__inf_button button:hover {
  background: white;
  color: black;
}

.main__leave__box-leav-pig {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0.1%;
  left: 0.1%;
}

.main__leave__box-leav-pig_inf {
  padding-bottom: 20px;
  font-family: "FuturaDemiC";
  line-height: 25px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

@media (max-width: 1110px) {
  .main__leave_wrapper {
    display: none;
  }
}
@media (max-width: 365px) {
  .main__leave_wrapper {
    display: none;
  }
}
.main__bg-fantasie {
  margin-top: 200px;
  background-image: url(../img/fantasie/bg-fantasie/Group\ 22\ \(1\).svg);
  height: 860px;
}

.main__bg-fantasie_wrapper {
  max-width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  background-size: cover;
}

.main__bg-fantasie_wrapper__box-text {
  height: 860px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__bg-fantasie_wrapper__box-text-h {
  color: #E3B873;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
}

.main__bg-fantasie_wrapper__box-text-ul ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  color: #E3B873;
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 34px;
}
.main__bg-fantasie_wrapper__box-text-ul span {
  text-decoration: underline;
}
.main__bg-fantasie_wrapper__box-text-ul li {
  list-style-type: none;
  color: white;
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 34px;
}

.main__bg-fantasie_wrapper__box-imgs {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.test-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main__bg-fantasie_wrapper__img-1 {
  position: relative;
  bottom: 6%;
}

.main__bg-fantasie_wrapper__img-2 {
  position: relative;
}

.main__bg-fantasie_wrapper__img-3 {
  position: relative;
  bottom: 15%;
}

.main__bg-fantasie_wrapper__img-4 {
  position: relative;
  bottom: 10%;
}

@media (max-width: 1110px) {
  .main__bg-fantasie {
    margin-top: 700px;
  }
  .main__bg-fantasie_wrapper__box-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .main__bg-fantasie_wrapper__img-1 {
    display: none;
  }
  .main__bg-fantasie_wrapper__img-3 {
    display: none;
  }
}
@media (max-width: 650px) {
  .main__bg-fantasie_wrapper__box-text-ul {
    display: none;
  }
  .main__bg-fantasie_wrapper__box-text-h {
    display: none;
  }
}
@media (max-width: 365px) {
  .main__bg-fantasie_wrapper__box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 70px;
  }
  .main__bg-fantasie_wrapper__box-text-h {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 138.6%;
  }
  .main__bg-fantasie_wrapper__box-imgs {
    display: none;
  }
  .main__bg-fantasie_wrapper__box-text-ul {
    display: none;
  }
  .main__bg-fantasie {
    text-align: center;
    margin-top: 200px;
    background-image: none;
    height: 560px;
  }
  img[hidden] {
    position: relative;
    display: block;
    width: 340px;
    height: 280px;
  }
  .img_hidden_play-1[hidden] {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    left: 1%;
  }
  .img_hidden_play-2[hidden] {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    right: 1%;
  }
  .main__bg-fantasie_wrapper__box-text-h {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    width: 240px;
    padding-bottom: 20px;
  }
  .test-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 400px;
    padding-top: 350px;
  }
}
.main__design-project {
  padding-top: 380px;
}

.design-project-wrapper {
  max-width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  gap: 40px;
  max-height: 300px;
}

.main__design-project__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.main__design-project__name_h {
  text-align: center;
  text-transform: uppercase;
}

.main__design-project__name_text {
  font-family: "FuturaBookC";
  line-height: 27px;
  text-align: center;
  color: #363636;
  font-weight: 400;
}

.main__design-project__imgs {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.main__design-project__imgs ul {
  padding-top: 10px;
  padding-left: 40px;
  list-style-position: inside;
  text-align: left;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}
.main__design-project__imgs span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.main__design-project__imgs__item1 {
  position: relative;
  height: 540px;
}
.main__design-project__imgs__item1 .main__design-project__imgs__item1__inf {
  background-color: white;
  width: 329px;
  height: 210px;
  position: absolute;
  bottom: 1%;
  right: 8.6%;
}
.main__design-project__imgs__item1 .main__design-project__imgs__item1__button {
  position: absolute;
  bottom: -19px;
  right: 34%;
}
.main__design-project__imgs__item1 .main__design-project__imgs__item1__button__characteristics {
  width: 230px;
  height: 55px;
  color: white;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
  font-family: "Yeseva One";
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
.main__design-project__imgs__item1 .main__design-project__imgs__item1__button__characteristics:hover {
  background: red;
  color: black;
}

.main__design-project__imgs__item2 {
  position: relative;
  height: 540px;
}
.main__design-project__imgs__item2 .main__design-project__imgs__item2__inf {
  position: absolute;
  background-color: white;
  width: 330px;
  height: 280px;
  top: 60%;
  left: 8%;
}

.main__design-project__imgs__item2__button {
  position: absolute;
  bottom: -90px;
  right: 33.5%;
}

.main__design-project__imgs__item2__button__characteristics {
  width: 230px;
  height: 55px;
  color: white;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
  font-family: "Yeseva One";
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.main__design-project__imgs__item2__button__characteristics:hover {
  background: red;
  color: black;
}

.main__design-project__imgs__item3 {
  position: relative;
}

.main__design-project__imgs__item3__inf {
  position: absolute;
  height: 325px;
  height: 412px;
  background-color: white;
  top: 60%;
  right: 14%;
}

.main__design-project__imgs__item3__button {
  position: absolute;
  bottom: -220px;
  right: 28%;
}

.main__design-project__imgs__item3__button__characteristics {
  width: 230px;
  height: 55px;
  color: white;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
  font-family: "Yeseva One";
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.main__design-project__imgs__item3__button__characteristics:hover {
  background: red;
  color: black;
}

@media (max-width: 1100px) {
  .main__design-project {
    padding-top: 830px;
    background-color: #131313;
  }
  .main__design-project__name_h {
    color: #E3B873;
  }
  .main__design-project__name_text {
    color: white;
  }
  .main__design-project__imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 110px;
  }
  .main__design-project__imgs__item3__button {
    position: absolute;
    bottom: -270px;
    right: 28%;
  }
}
@media (max-width: 540px) {
  .main__design-project__name_h {
    display: none;
  }
  .main__design-project__name_img {
    display: none;
  }
}
@media (max-width: 423px) {
  .main__design-project__name_img {
    display: none;
  }
  .main__design-project__name_text {
    padding-top: 30px;
  }
}
@media (max-width: 365px) {
  .design-project-wrapper {
    max-width: 100%;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    text-align: center;
    gap: 40px;
    max-height: 300px;
  }
  .main__design-project__name_h {
    color: white;
  }
  .design-project-wrapper {
    background-color: #131313;
  }
  .main__design-project__name_text {
    text-align: center;
    font-size: 15px;
    line-height: 135.84%;
    width: 300px;
    color: white;
  }
  .main__design-project {
    padding-top: 780px;
  }
  .main__design-project__imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .logo {
    width: 330px;
    height: 350px;
  }
  .main__design-project__imgs__item1__inf {
    width: 250px;
    height: 190px;
    top: 40%;
  }
  .main__design-project__imgs__item1__button {
    top: 390px;
    right: 34%;
  }
  .main__design-project__imgs__item2 .main__design-project__imgs__item2__inf {
    width: 260px;
    height: 260px;
    left: 0.1%;
    top: 40%;
  }
  .main__design-project__imgs__item2__button {
    position: absolute;
    bottom: 35px;
    right: 30.5%;
  }
  .main__design-project__imgs__item3__inf {
    width: 260px;
    height: 415px;
    left: 1px;
  }
  .main__design-project__imgs__item3__button {
    position: relative;
    bottom: -280px;
    left: -50px;
  }
}
.main__How-we-are-working {
  height: 1600px;
  background-image: url(../img/How-we-are-working/bg/Rectangle\ 11.2.svg);
  color: white;
}

.main__How-we-are-working-wrapper {
  padding-top: 30%;
  max-width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
}

.main__How-we-are-working__inf {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.main__How-we-are-working__inf__h div {
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}
.main__How-we-are-working__inf__h p {
  font-family: "FuturaDemiC";
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
}

.main__How-we-are-working__inf__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main__How-we-are-working__inf__text .main__How-we-are-working__inf__text__namber {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: white;
}
.main__How-we-are-working__inf__text .main__How-we-are-working__inf__text__name {
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  color: #E3B873;
}
.main__How-we-are-working__inf__text .main__How-we-are-working__inf__text__text {
  font-family: "FuturaBookC", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: white;
  font-weight: 400;
}

.main__How-we-are-working__img {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.main__How-we-are-working__img__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.main__How-we-are-working__img__menu h3, .main__How-we-are-working__img__menu span {
  font-family: "FuturaBookC", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: white;
  text-shadow: 1px 1px 2px gray;
}
.main__How-we-are-working__img__menu .main__How-we-are-working__img__menu__item_span {
  text-shadow: none;
  text-decoration-color: #E3B873;
}
.main__How-we-are-working__img__menu h3 {
  text-decoration: underline;
  text-decoration-color: #E3B873;
}
.main__How-we-are-working__img__menu .main__How-we-are-working__img__menu__item_h4 {
  text-shadow: none;
  text-decoration: underline;
  text-decoration-color: #E3B873;
}

.main__How-we-are-working__img__menu__item {
  width: 33%;
}

@media (max-width: 1100px) {
  .main__How-we-are-working-wrapper {
    display: none;
  }
}
@media (max-width: 365px) {
  .main__How-we-are-working-wrapper {
    display: none;
  }
}
.main__our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-top: 100px;
}

.main__our-team__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.main__our-team__text__h {
  text-transform: uppercase;
}

.main__our-team__text__p {
  font-family: "FuturaBookC", sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
}

.main__our-team__foto {
  display: flex;
  gap: 10px;
}

.main__our-team__foto__absalut-1 {
  position: absolute;
  left: 0.01%;
  top: 0.01%;
}

.main__our-team__foto__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 520px;
  align-items: center;
}

.main__our-team__footer__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__our-team__footer__p {
  font-family: "FuturaBookC", sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
  font-weight: 400;
}

@media (max-width: 1100px) {
  .main__our-team {
    padding-top: 1100px;
  }
  .main__our-team__foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 491px) {
  .main__our-team__footer__p {
    display: none;
  }
}
@media (max-width: 365px) {
  .main__our-team {
    padding-top: 1100px;
  }
  .main__our-team__foto {
    display: flex;
    flex-direction: column;
  }
  .main__our-team__footer__p {
    display: none;
  }
  .main__our-team__foto__item {
    width: 350px;
  }
}
.main__our-clients-wrapper {
  padding-top: 250px;
  max-width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  height: 1300px;
}

.main__our-clients__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.main__our-clients__text__h {
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}

.main__our-clients__text__p {
  font-family: "FuturaBookC", "sans-serif";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
  font-weight: 400;
}

.main__our-clients__characteristics {
  display: flex;
  text-align: left;
  gap: 75px;
}

.main__our-clients__characteristics__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.main__our-clients__characteristics__h {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.main__our-clients__characteristics__h div {
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}

.main__our-clients__characteristics__text {
  font-family: "FuturaBookC", "sans-serif";
  font-size: 15px;
  line-height: 180%;
  color: #959595;
  font-weight: 400;
}

.test99 {
  position: relative;
}

.ask {
  z-index: 2;
  background-image: url(../img/ask/Rectangle.png);
  width: 883px;
  height: 445px;
  position: absolute;
  top: 52%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 50px;
}
.ask span {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.ask .ask__name {
  text-align: center;
  text-transform: uppercase;
}
.ask .ask__name-phone {
  display: flex;
  gap: 30px;
}
.ask .ask__name-phone input {
  width: 200px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "FuturaMediumC", "sans-serif";
  font-size: 18px;
  line-height: 25px;
  color: white;
}
.ask .ask__question input {
  width: 430px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "FuturaMediumC", "sans-serif";
  font-size: 18px;
  line-height: 25px;
  color: white;
}
.ask .ask__agree {
  display: flex;
  gap: 10px;
}
.ask .ask__agree div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

@media (max-width: 1100px) {
  .main__our-clients-wrapper {
    display: none;
  }
  .ask {
    top: 200px;
    left: 100px;
  }
}
@media (max-width: 985px) {
  .ask {
    top: 200px;
    left: -150px;
  }
}
@media (max-width: 740px) {
  .ask {
    width: 350px;
    height: 540px;
    left: 24%;
    top: 27%;
  }
  .ask__name-phone {
    display: flex;
    flex-direction: column;
  }
  .ask .ask__question {
    width: 200px;
  }
  .ask .ask__question input {
    width: 200px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "FuturaMediumC", "sans-serif";
    font-size: 18px;
    line-height: 25px;
    color: white;
  }
}
@media (max-width: 491px) {
  .ask {
    top: 10%;
    left: 60px;
  }
}
@media (max-width: 365px) {
  .main__our-clients-wrapper {
    display: none;
  }
  .ask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 540px;
    left: 1%;
    top: 0.1%;
    background-image: none;
    background-color: #131313;
  }
  .ask__name-phone {
    display: flex;
    flex-direction: column;
  }
  .ask .ask__question {
    width: 200px;
  }
  .ask .ask__question input {
    width: 200px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "FuturaMediumC", "sans-serif";
    font-size: 18px;
    line-height: 25px;
    color: white;
  }
}
.main__map-bg {
  background-image: url(../img/map/bg/image\ 7.2.png);
  height: 953px;
  position: relative;
}

.main__map-bg:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.main__map-bg__wrapper {
  padding-top: 120px;
  max-width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.main__map-bg__box__img {
  z-index: 2;
}

.main__map-bg__box__inf {
  z-index: 2;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

@media (max-width: 1100px) {
  .main__map-bg {
    margin-top: 1200px;
  }
  .main__map-bg:after {
    display: none;
  }
  .main__map-bg__wrapper {
    padding-top: 520px;
  }
  .main__map-bg__box__inf {
    order: 2;
  }
  .main__map-bg__box__img {
    order: 3;
  }
  .main__map-bg__box__map {
    order: 1;
  }
}
@media (max-width: 985px) {
  .main__map-bg__box__map__item {
    width: 420px;
    height: 320px;
  }
}
@media (max-width: 740px) {
  .main__map-bg__wrapper {
    padding-top: 590px;
  }
}
@media (max-width: 365px) {
  .main__map-bg {
    margin-top: 1300px;
  }
  .main__map-bg__wrapper {
    padding-top: 380px;
    background-color: #131313;
  }
  .main__map-bg__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main__map-bg__box__inf {
    order: 2;
  }
  .main__map-bg__box__img {
    order: 3;
  }
  .main__map-bg__box__map {
    order: 1;
  }
  .main__map-bg__box__map__item {
    width: 340px;
    height: 253px;
  }
}
footer {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #131313;
  color: white;
}

.footer__name {
  font-family: "Roboto" "sans-serif";
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

.footer__nav {
  z-index: 1;
}
.footer__nav ul {
  font-family: "Roboto" "sans-serif";
  font-size: 14px;
  line-height: 16px;
  display: flex;
  gap: 38px;
  list-style: none;
  color: white;
}
.footer__nav a {
  font-weight: 400;
  text-decoration: none;
  color: white;
}
.footer__nav a:hover {
  background: red;
  color: black;
}

.footer__tel-bottom {
  font-family: "Roboto" "sans-serif";
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #E3B873;
}

.footer__tel-bottom__bottom_size {
  width: 180px;
  height: 38px;
  color: white;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.footer__tel-bottom__bottom_size:hover {
  background: white;
  color: black;
}

@media (max-width: 1100px) {
  footer {
    display: none;
  }
}
@media (max-width: 365px) {
  footer {
    display: none;
  }
}

/*# sourceMappingURL=final.css.map */
