footer{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $bg-color;
    color:$color1;
}
.footer__name {
    @include fontSize;
    text-transform: uppercase;
    color: $color2;

}
.footer__nav {
    z-index:1;
        ul {
            @include fontSize;
            display: flex;
            gap:38px;
            list-style: none;
            color: $color1;  
        }
        a{  
            font-weight: 400;
            text-decoration: none;
            color:$color1;
        }
        a:hover{
            color: $color2;
        }
}
.footer__tel-bottom {
    @include fontSize;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: $color2;
}
.footer__tel-bottom__bottom_size {
    @include batton;
}
.footer__tel-bottom__bottom_size:hover {
    @include hover-for-batton;
}
@media (max-width: 1100px){
    footer{
        display:none;
    }
}
@media (max-width: 365px){
    footer{
        display:none;
    }
}