.main__bg-2 {
    @include wrapper;
    padding-top: 10px;
    color: $color1;
}
.main__bg-2__inf-foto {
    padding-top: 30px;
    display:flex;
    justify-content: space-between;
    gap:105px;
}
.main__bg2__inf {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap:60px;
    font-family: $FontFamily;
    font-size: 18px;
    line-height: 29px;
    height: fit-content;
    width: fit-content;
}

.main__bg2__inf__h-name {
    display:flex;
    align-items: flex-end;
    padding-bottom: 20px;
}
.main__bg2__inf__h-name__text {
 font-family: $FontFamily;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: $color2;   
}
.main__bg2__inf__h-name__line {
    width: 91px;
    height: 1px;
    background-color: $color2;
    margin-bottom: 15px;  
}
.main__bg2__inf__characteristics {
    display:flex;
    flex-direction: column;
    max-width: 70%;
   span {
    font-family: $FontFamily;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $color2;
   }
   p{
    font-family: $FontFamily;
    font-size: 15px;
    line-height: 20px;
    color: $color1;
   }
}
.main__bg2__inf__characteristics__box-items1{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap:74px;  
}
.main__bg2__inf__characteristics__box-items2{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap:60px;  
}
.main__bg2__inf__characteristics-item {
    max-width: 50%;
}
.main__bg2__inf__img {
    max-width: 70%;
    display:flex;
    justify-content: flex-start;
    gap:20px;
}
.main__bg2__inf__img__point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:$color6;
}
.main__bg2__inf__img__point:hover{
    cursor: pointer;
    background-color:$color1;
}
.main__bg-2__h-name {
    width: 100%;
    ul{
        display: flex;
        justify-content: left;
        text-align: left;
        list-style: none;
        gap:60px;
        li{
            font-family: $FontFamily;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.3);
            font-style: normal;
            font-weight: bold;
        }
        li:hover{
                @include li-hover;
        }
            
        
    }
}
.main__bg2__foto {
    display:flex;
    flex-direction: column;
    gap:15px;
    padding-left:0;
}
.main__bg2__foto__items {
    position: relative;
    display: flex;
    gap:20px;
}
.main_bg2__fiti__items__play {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: $color2;
    position: absolute;
    left:85%;
    bottom: 42%;
}
.main__bg2__camera {   
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    span{
        font-family: $FontFamily;
        text-align: center;
        text-transform: uppercase;
        color:$color1;
    }
    .main__bg2__inf__img_paddint-bottom {
        padding-bottom: 10px;
    }
}
.main__bg2__camera__box {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:7px;
}
.main__bg2__camera__box__line {
    width: 32px;
    height: 1.5px;
    background-color: $color2;
}
.main__bg__wrapper-video{
    @include wrapper;
}
.main__bg2__video{
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
}
.main__bg2__video:after{
    content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background-color: rgba(0,0,0,0.5);
}
.main__bg2__video__play{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 85px;
        height: 85px;
        background-color: $color2;
        border-radius: 50%;
        z-index:2;
        position: absolute;
        top: 40%;
        left: 47%;
        padding-left: 5px;
}
@media (max-width:1200px){
    .main__bg2__inf__h-name {
        display:flex;
        justify-content: center;
        align-items: flex-end;
    }
    .main__bg2__foto{
        display:none;
    }
    .main__bg2__inf {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__bg2__inf__h-name{
        text-align: center;
    }
}
@media(max-width:854px){
   
    .main__bg2__video{
        width: 520px;
        height: 307px;
    }
    .main__bg2__video__img{
        width: 100%;
        height: 100%;
    }
    .main__bg2__video__play{
        z-index:2;
        position: absolute;
        top: 30%;    
        left: 38%;
    }    
}
@media (max-width:541px){
    .main__bg2__video{
        width: 340px;
        height: 237px;
    }
}
@media (max-width:365px){
    .main__bg2{
        padding-left: 0px;
    } 
    .main_bg2__inf__h {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
        text-align: center;      
        .main__bg2__inf__p-name {
            br{
                display: none;
            }
        }
    }
    .main__bg-2__h-name {
        display:none;    
    }
    .main__bg2__foto__items {
        display:none;
    }
    .main__bg2__inf__characteristics__box-items2 {    
        gap:60px;
    }
    .main__bg2__inf__img {
        display:none
    }
    .main__bg2__camera {
        width: 163px;
        text-align: center;
    }
    .main__bg__wrapper-video{
        gap:20px;
    }
    .main__bg2__video{
        width: 320px;
        height: 207px;
    }
    .main__bg2__video__img{
        width: 100%;
        height: 100%;
    }
    .main__bg2__video:after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        background-color: rgba(0,0,0,0.5);
    }
    .main__bg2__video__play {
        top: 30%;
        left: 40%;
    }
    .main__bg__wrapper-video{
        @include wrapper;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main__bg2__inf__h-name__line{
        display:none;
    }
}