.main__our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-top: 100px;
}
.main__our-team__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
.main__our-team__text__h {
    text-transform: uppercase;
}
.main__our-team__text__img{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main__our-team__text__img_line{
    width: 32px;
    padding: 1px;
    background-color:$color2;
}
.main__our-team__text__p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
}
.main__our-team__foto {   
    display: flex;
    gap: 10px;  
} 
.main__our-team__foto__item__text{
    position: absolute;
    background-color: $color1;
    color:black;
    width: 235px;
    height: 140px;
    bottom:40px;
    display:flex;
    flex-direction: column;
    gap:3px;
    .h3{
        padding-top: 30px;
        font-weight: bold;
        font-size: 23px;
        line-height: 25px;
    }
    .p{
        font-size: 18px;
        line-height: 26px;
        color:$color4;
        font-weight: 300;
        padding-bottom: 30px;
    }

}
.main__our-team__foto__item__experience{
    color:$color1;
    background-color: $color2;
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.main__our-team__foto__absalut-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: $color2;
    position: absolute;
    left: 4%;
    top: 9%;
}
.main__our-team__foto__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 520px;
    align-items: center;
}   
.main__our-team__footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__our-team__footer__img {
    width: 55px;
    height: 2px;
    background-color: $color2;
}
.main__our-team__footer__p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: $color3;
    font-weight: 400;
}
@media(max-width:1100px){
    .main__our-team {
        padding-top: 1100px;
    }
    .main__our-team__foto {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        
    }
}
@media(max-width:491px){
    .main__our-team__footer__p {
        display: none;
    }

}
@media(max-width: 365px){
    .main__our-team {
        padding-top: 1100px;
    }
    .main__our-team__foto {
        display: flex;
        flex-direction: column;
    }
    .main__our-team__footer__p {
        display: none;
    }
    .main__our-team__foto__item {
        width: 350px;
    }
}