$color1: white;
$color2: #E3B873;
$bg-color: #131313;
$FontFamily:"Roboto","sans-serif";
$color3:#363636;
$color4: #959595;
$color5-rgba:rgba(0,0,0,0.5);
$shadow-gray: 1px 1px 2px gray;
$color6: rgba(255, 255, 255, 0.5);
$color7: whitesmoke;
$color8: #181818;
$color9: rgba(54, 54, 54, 0.5);
$color-pig: 0px 3px 10px rgba(227, 184, 115, 0.15);