
.header {
    max-width: 100%;
    padding-top: 24px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: $bg-color;
}
.header__name{
    @include fontSize;
    text-transform: uppercase;
    padding-top: 15px;
    color: $color2;
    padding-bottom: 15px;
}

.header__nav {
    @include fontSize;
    ul {
        display: flex;
        gap:38px;
        list-style: none;
        color: $color1; 
    }
    a{  font-weight: 400;
        text-decoration: none;
        color:$color1;
    }
}
.header__tel-bottom {
    @include fontSize;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: $color2;
    .header__tel-bottom__bottom_size {
        @include batton;
    }
    .header__tel-bottom__bottom_size:hover{
        @include hover-for-batton;
    }
}
@media (max-width: 1110px){
    .header__nav{
        display: none;
    }
}
@media (max-width:536px){
    .header__tel-bottom__bottom_size {
        display:none;
    }
}
@media (max-width: 365px){
    .header__name{
        font-size: 12px;
        line-height: 14px;
    }
    .header__tel-bottom {
        gap:0px;
        color: $color1;
        font-size: 12px;
        line-height: 14px; 
    }
    .header__tel-bottom__bottom_size {
        display:none;
        
    }
    .header__nav{
        display: none;
    }
   
}