.main__leave_wrapper {
    @include wrapper;
    padding-left: 0px;
    position: relative;
    height: 800px;
}
.main__leave__box-leav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__leave__box-leav__inf {
    background-image: url("../img/leave/Rectangle\ 7.6.svg");
    width: 506px;
    height: 509px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;
    color: $color1;
}
.main__leave__box-leav__inf_h {
    font-family: 'FuturaDemiC';
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
.main__leave__box-leav__inf_input {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:25px;
    span {
        font-family: 'FuturaBookC';
        font-size: 15px;
        line-height: 20px;
        color: $color6;
    }
    input{
        width: 400px;
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        font-family: 'FuturaMediumC';
        font-size: 18px;
        line-height: 25px;
        color:$color1;
    }
}
.main__leave__box-leav__inf_agree {
    display: flex;
    gap:10px;
    span{
        color:$color1;
    }

}
.main__leave__box-leav__inf_button{
    width: 5%;
    button{
        @include batton;
        width: 215px ;
        height: 50px ;
        font-family: 'FuturaDemiC';
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;   
    }
    button:hover{
        @include hover-for-batton;
    }
}
.main__leave__box-leav-pig {
    position: absolute;
    width: 80%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    bottom: 0.1%;
    left: 0.1%;
}
.main__leave__box-leav-pig_inf {
    padding-bottom: 20px;
    font-family: 'FuturaDemiC';
    line-height: 25px;
    color: $color2;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
@media (max-width: 1110px){
    .main__leave_wrapper {
        display:none;
    }
}
@media (max-width: 365px){
    .main__leave_wrapper {
        display:none;
    }
}