
@mixin fontSize {
    font-family: 'Roboto' "sans-serif";
    font-size: 14px;
    line-height: 16px;
}
@mixin wrapper {
    max-width: 100%;
    height: 100%;
    padding-left: 80px ;
    padding-right: 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@mixin wrapper-for-fantasie{
    max-width: 100%;
    height: 100%;
    padding-left: 80px ;
    padding-right: 80px;
    
}
@mixin wrapper-for-hwa-working {
    max-width: 100%;
    // height: 100%;
    padding-left: 80px ;
    padding-right: 80px;
    display:flex;
    justify-content: space-between;

}
@mixin batton {
    width: 180px;
    height: 38px;
    color: $color1;
    background-color: $color2;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    cursor: pointer;
    position: relative;


}
@mixin box-fit-content{
    height: fit-content;
    width: fit-content;
}
@mixin batton-for-design-project{
    width: 230px;
    height: 55px;
    color: $color1;
    background-color: $color2;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

}
@mixin hover-for-batton{
        background: white;
        color: black;
}
@mixin hover-for-batton-red{
    background: red;
    color: black;
}
