.main__our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-top: 100px;
}
.main__our-team__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
.main__our-team__text__h {
    text-transform: uppercase;
}
.main__our-team__text__p {
    font-family: 'FuturaBookC', sans-serif;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
}
.main__our-team__foto {   
    display: flex;
    gap: 10px;  
} 
.main__our-team__foto__absalut-1{
        position: absolute;
        left: 0.01%;
        top: 0.01%;
    }
.main__our-team__foto__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 520px;
    align-items: center;
}   

.main__our-team__footer__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.main__our-team__footer__p {
    font-family: 'FuturaBookC', sans-serif;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: $color3;
    font-weight: 400;
}
@media(max-width:1100px){
    .main__our-team {
        padding-top: 1100px;
    }
    .main__our-team__foto {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        
    }
}
@media(max-width:491px){
    .main__our-team__footer__p {
        display: none;
    }

}
@media(max-width: 365px){
    .main__our-team {
        padding-top: 1100px;
    }
    .main__our-team__foto {
        display: flex;
        flex-direction: column;
    }
    .main__our-team__footer__p {
        display: none;
    }
    .main__our-team__foto__item {
        width: 350px;
    }
}