button {
    border: 0;
}
ul {
    
    padding-inline-start:0;
}
body{
    margin:0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}
a:hover{
    @include hover-for-batton-red;
}
