.main__TYPES-OF-REPAIR_wrapper {
    @include wrapper;
   
}
.main__TYPES-OF-REPAIR_wrapper__name {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    span {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #181818;
    }
}
.main__TYPES-OF-REPAIR_wrapper__img {
    height: 700px;
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap:30px;
    ul{ 
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color:$color3;

    }
    li{  
        font-family: 'FuturaBookC';
        font-size: 15px;
        line-height: 25px;
        color: #959595;
        

    }
}
.main__TYPES-OF-REPAIR_wrapper__img__item{
    position: relative;
}
.main__TYPES-OF-REPAIR_wrapper__img_characteristics-1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 286px;
    background-image: url(../img/main__TYPES-OF-REPAIR_wrapper/img-items-bg/Rectangle\ 4.22.svg) ;
    position: absolute;
    left: 7%;
    bottom: 17%;
}
.main__TYPES-OF-REPAIR_wrapper__img_characteristics-2{
    background-image: url(../img/main__TYPES-OF-REPAIR_wrapper/img-items-bg/Rectangle\ 4.22\ \(1\).svg) ;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 286px;
    bottom: 17%;
    left:10%;
}
.main__TYPES-OF-REPAIR_wrapper__img_characteristics-3 {
    background-image: url(../img/main__TYPES-OF-REPAIR_wrapper/img-items-bg/Rectangle\ 4.23.svg);
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 286px;
    bottom: 17%;
    right: 7%;
}
.main__TYPES-OF-REPAIR_wrapper__img__button {
    position: absolute;
    bottom:15%;
    left:7%;   
}

.main__TYPES-OF-REPAIR_wrapper__img__button-2{
    position: absolute;
    bottom:15%;
    left:10%;
}
.main__TYPES-OF-REPAIR_wrapper__img__button-3{
    position: absolute;
    bottom: 15%;
    padding-left: 18%;

}
.main__TYPES-OF-REPAIR_wrapper__img__button_characteristics {
    @include batton;
    width: 210px;
    height: 45px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
.main__TYPES-OF-REPAIR_wrapper__img__button_characteristics:hover{
    @include hover-for-batton-red;
}
@media (max-width: 1100px){
    .main__TYPES-OF-REPAIR_wrapper__name {
        padding-top: 30px;
    }
    .main__TYPES-OF-REPAIR_wrapper__img{
        padding-top: 450px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:140px;
    }
    .main__TYPES-OF-REPAIR_wrapper__img_characteristics-1 {
        left: -20px;
        bottom: -130px;
    }
    .main__TYPES-OF-REPAIR_wrapper__img__button {
        position: absolute;
        bottom:-130px;
        left:-20px;   
    }
    .main__TYPES-OF-REPAIR_wrapper__img_characteristics-2{
        bottom:-130px;
        left:-20px;  
    }
    .main__TYPES-OF-REPAIR_wrapper__img__button-2{
        position: absolute;
        bottom:-130px;
        left:-20px;
    }
    .main__TYPES-OF-REPAIR_wrapper__img_characteristics-3 {
        bottom:-130px;
        left:-20px;
    }
    .main__TYPES-OF-REPAIR_wrapper__img__button-3{
        bottom:-130px;
        left:-90px;
    }


}
@media (max-width: 365px){
    .main__TYPES-OF-REPAIR_wrapper__name{
        span{
            color:$color1;
            width: 200px;
        }
    }
    .main__TYPES-OF-REPAIR_wrapper__img{
        padding-top: 350px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:170px;
    }
    .main__TYPES-OF-REPAIR_wrapper{
        padding-left: 0px;
        padding-right: 0px;
    }
    .main__TYPES-OF-REPAIR_wrapper__img__item__logo{
        width: 300px;
        // height: 400px;
    }
   
    .main__TYPES-OF-REPAIR_wrapper__img_characteristics-1{
        height: 240px;
        width: 270px;
        bottom:-100px;
        left: -10px;
    }
    .main__TYPES-OF-REPAIR_wrapper__img__button {
        bottom: -120px;
        left:0px;
    }
    .main__TYPES-OF-REPAIR_wrapper__img_characteristics-2{
        height: 240px;
        width: 270px;
        bottom:-100px;
        left: -10px;
    }
    .main__TYPES-OF-REPAIR_wrapper__img__button-2 {
        bottom: -120px;
        left:0px;
    }
    .main__TYPES-OF-REPAIR_wrapper__img_characteristics-3{
        height: 240px;
        width: 270px;
        bottom:-100px;
        left: -10px;
    }
    .main__TYPES-OF-REPAIR_wrapper__img__button-3 {
        bottom: -120px;
        left: -54px;
    }
    
    



}